
<div id="wowslider-container1">
<div class="ws_images"><ul>
		<li><img src="../../public/data1/images/9.jpg" alt="Can be share funny moments with us" title="Can be share funny moments with us" id="wows1_0"/></li>
		<li><img src="../../public/data1/images/8.jpg" alt="Professintional meeting Apartment" title="Professintional meeting Apartment" id="wows1_1"/></li>
		<li><img src="../../public/data1/images/7.jpg" alt="Lights Down, Energy Up — Welcome to the Night!" title="Lights Down, Energy Up — Welcome to the Night!" id="wows1_2"/></li>
		<li><img src="../../public/data1/images/6.jpg" alt="From Birthdays to Night Parties — We Handle It All!" title="From Birthdays to Night Parties — We Handle It All!" id="wows1_3"/></li>
		<li><img src="../../public/data1/images/5.jpg" alt="Making birthdays brighter, one moment at a time." title="Making birthdays brighter, one moment at a time." id="wows1_4"/></li>
		<li><img src="../../public/data1/images/4.jpg" alt="Where Fun Meets Perfection!" title="Where Fun Meets Perfection!" id="wows1_5"/></li>
		<li><img src="../../public/data1/images/3.jpg" alt="Delicious Food. Great Music. Perfect Vibes" title="Delicious Food. Great Music. Perfect Vibes" id="wows1_6"/></li>
		<li><img src="../../public/data1/images/2.jpg" alt="html5 slideshow" title="let’s Create Magical Moments" id="wows1_7"/></a></li>
		<li><img src="../../public/data1/images/1.jpg" alt="Celebrate Your Moments With Us" title="Celebrate Your Moments With Us" id="wows1_8"/></li>
	</ul>
</div>
</div>
	
<script type="text/javascript" src="../../public/engine1/wowslider.js"></script>
<script type="text/javascript" src="../../public/engine1/script.js"></script>
