.event_navbar{
    background-color:#1A73E8;

}
.event_navbar a{
    color:#FFD700;

    font-weight: bold;
    font-size: 1.1rem;
}
.event_navbar a:hover{
    color:rgb(234, 234, 234);
}
.event_navbar button{
    color:#ffd700;
    background-color: white;
}
.event_navbar button:hover{
    background-color:#ffd700;
    color:white;
}
.scroll-mseg{
    background-color: rgba(249, 52, 22, 0.968); 
    cursor:pointer;
}

/* 
 */

 .scroll-mseg {
            overflow: hidden;
            white-space: nowrap;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        } 
.card {
    overflow: hidden;           /* MOST IMPORTANT */
    border-radius: 10px;        /* optional */
}



.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.card:hover .card-img-top {
    transform: scale(1.1);
}

.donate{
    animation:blinker 2s linear infinite;
}
@keyframes blinker{
    50% {
        opacity:0;
    }
}


.hline{
    color:#1A73E8;

}

.hicone{
    color:#1A73E8;
}